In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('h1b_kaggle.csv')

In [3]:
df.shape

(3002458, 11)

In [4]:
df.dtypes

Unnamed: 0              int64
CASE_STATUS            object
EMPLOYER_NAME          object
SOC_NAME               object
JOB_TITLE              object
FULL_TIME_POSITION     object
PREVAILING_WAGE       float64
YEAR                  float64
WORKSITE               object
lon                   float64
lat                   float64
dtype: object

In [5]:
df.isnull().sum()

Unnamed: 0                 0
CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [6]:
df1 = df.copy()

In [7]:
df1

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.00,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.00,2016.0,"PLANO, TEXAS",-96.698886,33.019843
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.00,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.00,2016.0,"DENVER, COLORADO",-104.990251,39.739236
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.40,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003
5,6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
6,7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,91021.00,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427
7,8,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,150000.00,2016.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208
8,9,CERTIFIED-WITHDRAWN,ESI COMPANIES INC.,CHIEF EXECUTIVES,PRESIDENT,Y,127546.00,2016.0,"MEMPHIS, TEXAS",NaN,NaN
9,10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,154648.00,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222
10,11,CERTIFIED-WITHDRAWN,H.J. HEINZ COMPANY,CHIEF EXECUTIVES,"CHIEF INFORMATION OFFICER, HEINZ NORTH AMERICA",Y,182978.00,2016.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625
11,12,CERTIFIED-WITHDRAWN,DOW CORNING CORPORATION,CHIEF EXECUTIVES,VICE PRESIDENT AND CHIEF HUMAN RESOURCES OFFICER,Y,163717.00,2016.0,"MIDLAND, MICHIGAN",-84.247212,43.615583
12,13,CERTIFIED-WITHDRAWN,ACUSHNET COMPANY,CHIEF EXECUTIVES,TREASURER AND COO,Y,203860.80,2016.0,"FAIRHAVEN, MASSACHUSETTS",NaN,NaN
13,14,CERTIFIED-WITHDRAWN,"BIOCAIR, INC.",CHIEF EXECUTIVES,CHIEF COMMERCIAL OFFICER,Y,252637.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
14,15,CERTIFIED-WITHDRAWN,NEWMONT MINING CORPORATION,CHIEF EXECUTIVES,BOARD MEMBER,Y,105914.00,2016.0,"GREENWOOD VILLAGE, COLORADO",-104.950814,39.617210
15,16,CERTIFIED-WITHDRAWN,"VRICON, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,153046.00,2016.0,"STERLING, VIRGINIA",-77.429130,39.006699
16,17,CERTIFIED-WITHDRAWN,CARDIAC SCIENCE CORPORATION,FINANCIAL MANAGERS,VICE PRESIDENT OF FINANCE,Y,90834.00,2016.0,"WAUKESHA, WISCONSIN",-88.231481,43.011678
17,18,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
18,19,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
19,20,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",Y,241842.00,2016.0,"ALEXANDRIA, VIRGINIA",-77.046921,38.804835
20,21,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),Y,117998.00,2016.0,"COMMERCE, CALIFORNIA",-118.159793,34.000569
21,22,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234
22,23,CERTIFIED,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,Y,99986.00,2016.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738
23,24,CERTIFIED,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,99986.00,2016.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054
24,25,CERTIFIED-WITHDRAWN,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,159370.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680
25,26,CERTIFIED,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
26,27,CERTIFIED-WITHDRAWN,FOODESSENTIALS CORPORATION,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,Y,130853.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114
27,28,CERTIFIED,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,Y,215862.00,2016.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929
28,29,CERTIFIED,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,Y,192088.00,2016.0,"AUSTIN, TEXAS",-97.743061,30.267153
29,30,CERTIFIED,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,Y,95295.98,2016.0,"WESTON, FLORIDA",-80.399775,26.100365
...,...,...,...,...,...,...,...,...,...,...,...
3002428,3002429,WITHDRAWN,AVANT HEALTHCARE PROFESSIONALS,Physical Therapists,PHYSICAL THERAPIST,Y,53601.60,2011.0,"LEBANON, PENNSYLVANIA",NaN,NaN
3002429,3002430,WITHDRAWN,AVANT HEALTHCARE PROFESSIONALS,Physical Therapists,PHYSICAL THERAPIST,Y,53601.60,2011.0,"LEBANON, PENNSYLVANIA",NaN,NaN
3002430,3002431,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002431,3002432,WITHDRAWN,AT LAST SPORTSWEAR INC.,Computer Support Specialists,COMPUTER SUPPORT SPECIALIST,Y,36837.00,2011.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545
3002432,3002433,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002433,3002434,WITHDRAWN,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,Biochemists and Biophysicists,INSTRUCTOR,Y,36795.00,2011.0,"DALLAS, TEXAS",-96.796988,32.776664
3002434,3002435,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715
3002435,3002436,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,Y,77730.00,2011.0,"DURHAM, NORTH CAROLINA",-78.898619,35.994033
3002436,3002437,WITHDRAWN,"XTRON SOFTWARE SERVICES, INC.",Computer Programmers,COMPUTER PROGRAMMERS,Y,89232.00,2011.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108
3002437,3002438,WITHDRAWN,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,"Health Specialties Teachers, Postsecondary",ASSISTANT PROFESSOR OF ANESTHESIOLOGY,Y,34510.00,2011.0,"JACKSON, MISSISSIPPI",-90.184810,32.298757
3002438,3002439,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,Y,53082.00,2011.0,"PLEASANTON, CALIFORNIA",-121.874679,37.662431
3002439,3002440,WITHDRAWN,NEW YORK UNIVERSITY,"Biological Scientists, All Other",ADJUNCT ASSOCIATE PROFESSOR,Y,37336.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784
3002440,3002441,WITHDRAWN,"ORACLE AMERICA, INC.","Software Developers, Applications",SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2),Y,64800.00,2011.0,"REDWOOD SHORES, CALIFORNIA",-122.245536,37.536413
3002441,3002442,WITHDRAWN,B & D DENTAL CORP.,Materials Scientists,MATERIALS SCIENTIST,N,70553.60,2011.0,"WEST VALLEY, UTAH",-112.001050,40.691613
3002442,3002443,WITHDRAWN,"MEDTECH STAFFING & SOLUTIONS, INC",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,Y,33800.00,2011.0,"AKRON, OHIO",-81.519005,41.081445
3002443,3002444,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814
3002444,3002445,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814
3002445,3002446,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"BERKLEY HEIGHTS, NEW JERSEY",-74.431052,40.680873
3002446,3002447,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SCHENECTADY , NEW YORK",-73.939569,42.814243
3002447,3002448,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"MOUTAIN VIEW, CALIFORNIA",-122.083851,37.386052
3002448,3002449,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ST.PAUL, MINNESOTA",-93.089958,44.953703
3002449,3002450,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NEW TOWN, PENNSYLVANIA",-74.932260,40.228337
3002450,3002451,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"WESTMINISTER, COLORADO",-105.037205,39.836653
3002451,3002452,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"FREEMONT, CALIFORNIA",-121.988572,37.548270
3002452,3002453,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"LAVERGNE, TENNESSEE",-86.581939,36.015618
3002453,3002454,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"NYC, NEW YORK",-74.005941,40.712784
3002454,3002455,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"SOUTH LAKE, TEXAS",-97.134178,32.941236
3002455,3002456,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"CLINTON, NEW JERSEY",-74.909890,40.636768
3002456,3002457,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"OWINGS MILL, MARYLAND",-76.780253,39.419550
3002457,3002458,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"ALTANTA, GEORGIA",-84.387982,33.748995

In [8]:
df.dropna(axis=0, how='any', thresh=None, subset=None, inplace=True)

In [9]:
df.shape

(2877765, 11)

In [10]:
df.isnull().sum()

Unnamed: 0            0
CASE_STATUS           0
EMPLOYER_NAME         0
SOC_NAME              0
JOB_TITLE             0
FULL_TIME_POSITION    0
PREVAILING_WAGE       0
YEAR                  0
WORKSITE              0
lon                   0
lat                   0
dtype: int64

In [11]:
df.columns

Index(['Unnamed: 0', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [12]:
cat = pd.get_dummies(df['FULL_TIME_POSITION'])

In [13]:
cat

         N  Y
0        1  0
1        0  1
2        0  1
3        0  1
4        0  1
5        0  1
6        0  1
7        0  1
9        0  1
10       0  1
11       0  1
13       0  1
14       0  1
15       0  1
16       0  1
17       0  1
18       0  1
19       0  1
20       0  1
21       0  1
22       0  1
23       0  1
24       0  1
25       0  1
26       0  1
27       0  1
28       0  1
29       0  1
30       0  1
31       0  1
...     .. ..
3002412  1  0
3002413  0  1
3002415  0  1
3002416  0  1
3002417  0  1
3002418  0  1
3002419  0  1
3002420  0  1
3002421  0  1
3002422  0  1
3002423  0  1
3002424  0  1
3002425  0  1
3002426  0  1
3002427  0  1
3002430  0  1
3002431  0  1
3002432  0  1
3002433  0  1
3002434  0  1
3002435  0  1
3002436  0  1
3002437  0  1
3002438  0  1
3002439  0  1
3002440  0  1
3002441  1  0
3002442  0  1
3002443  0  1
3002444  0  1

[2877765 rows x 2 columns]

In [14]:
cat.shape

(2877765, 2)

In [15]:
df2 = pd.concat([df,cat],1)

In [16]:
df2

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,N,Y
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067.00,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826,1,0
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,242674.00,2016.0,"PLANO, TEXAS",-96.698886,33.019843,0,1
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,Y,193066.00,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158,0,1
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",Y,220314.00,2016.0,"DENVER, COLORADO",-104.990251,39.739236,0,1
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,Y,157518.40,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003,0,1
5,6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",Y,225000.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680,0,1
6,7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,91021.00,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427,0,1
7,8,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,Y,150000.00,2016.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0,1
9,10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,Y,154648.00,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222,0,1
10,11,CERTIFIED-WITHDRAWN,H.J. HEINZ COMPANY,CHIEF EXECUTIVES,"CHIEF INFORMATION OFFICER, HEINZ NORTH AMERICA",Y,182978.00,2016.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625,0,1
11,12,CERTIFIED-WITHDRAWN,DOW CORNING CORPORATION,CHIEF EXECUTIVES,VICE PRESIDENT AND CHIEF HUMAN RESOURCES OFFICER,Y,163717.00,2016.0,"MIDLAND, MICHIGAN",-84.247212,43.615583,0,1
13,14,CERTIFIED-WITHDRAWN,"BIOCAIR, INC.",CHIEF EXECUTIVES,CHIEF COMMERCIAL OFFICER,Y,252637.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680,0,1
14,15,CERTIFIED-WITHDRAWN,NEWMONT MINING CORPORATION,CHIEF EXECUTIVES,BOARD MEMBER,Y,105914.00,2016.0,"GREENWOOD VILLAGE, COLORADO",-104.950814,39.617210,0,1
15,16,CERTIFIED-WITHDRAWN,"VRICON, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,153046.00,2016.0,"STERLING, VIRGINIA",-77.429130,39.006699,0,1
16,17,CERTIFIED-WITHDRAWN,CARDIAC SCIENCE CORPORATION,FINANCIAL MANAGERS,VICE PRESIDENT OF FINANCE,Y,90834.00,2016.0,"WAUKESHA, WISCONSIN",-88.231481,43.011678,0,1
17,18,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0,1
18,19,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108,0,1
19,20,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",Y,241842.00,2016.0,"ALEXANDRIA, VIRGINIA",-77.046921,38.804835,0,1
20,21,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),Y,117998.00,2016.0,"COMMERCE, CALIFORNIA",-118.159793,34.000569,0,1
21,22,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",Y,164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0,1
22,23,CERTIFIED,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,Y,99986.00,2016.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,0,1
23,24,CERTIFIED,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,Y,99986.00,2016.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054,0,1
24,25,CERTIFIED-WITHDRAWN,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,Y,159370.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680,0,1
25,26,CERTIFIED,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,Y,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108,0,1
26,27,CERTIFIED-WITHDRAWN,FOODESSENTIALS CORPORATION,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,Y,130853.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0,1
27,28,CERTIFIED,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,Y,215862.00,2016.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929,0,1
28,29,CERTIFIED,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,Y,192088.00,2016.0,"AUSTIN, TEXAS",-97.743061,30.267153,0,1
29,30,CERTIFIED,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,Y,95295.98,2016.0,"WESTON, FLORIDA",-80.399775,26.100365,0,1
30,31,CERTIFIED,GTH INC.,CHIEF EXECUTIVES,"VICE PRESIDENT, BUSINESS DEVELOPMENT",Y,149594.00,2016.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0,1
31,32,CERTIFIED,THE KRAFT HEINZ COMPANY,CHIEF EXECUTIVES,HEAD OF US SALES,Y,226699.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3002412,3002413,WITHDRAWN,"TLC SURGICAL MANAGEMENT, LTD.",Medical and Health Services Managers,MEDICAL & HEALTH SERVICES MANAGER,N,60632.00,2011.0,"THE WOODLANDS, TEXAS",-95.461263,30.165821,1,0
3002413,3002414,WITHDRAWN,HEADSTRONG SERVICES LLC,Computer Programmers,SENIOR CONSULTANT,Y,79518.00,2011.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625,0,1
3002415,3002416,WITHDRAWN,"MEDTRONIC, INC.",Computer Systems Analysts,SR. IT BUSINESS SYSTEMS ANALYST,Y,76981.00,2011.0,"MOUNDS VIEW, MINNESOTA",-93.208558,45.104966,0,1
3002416,3002417,WITHDRAWN,"COMPUNNEL SOFTWARE GROUP, INC.",Computer Systems Analysts,SYSTEMS ANALYST,Y,41538.00,2011.0,"NASHVILLE, TENNESSEE",-86.781602,36.162664,0,1
3002417,3002418,WITHDRAWN,BENZ 'N BEAMERS,Accountants and Auditors,ACCOUNTANT,Y,38604.80,2011.0,"LOMITA, CALIFORNIA",-118.315072,33.792239,0,1
3002418,3002419,WITHDRAWN,"HIVE-FX, LLC",Multimedia Artists and Animators,3D ARTIST,Y,50544.00,2011.0,"PORTLAND, OREGON",-122.676482,45.523062,0,1
3002419,3002420,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002420,3002421,WITHDRAWN,"GS GLOBAL SERVICES, INC.",Computer Programmers,IT CONSULTANT,Y,70554.00,2011.0,"MANALAPAN, NEW JERSEY",-74.348582,40.285920,0,1
3002421,3002422,WITHDRAWN,"UNITED SOFTWARE GROUP, INC.",Network and Computer Systems Administrators*,WEBSPHERE PORTAL SYSTEM ADMINISTRATOR,Y,45843.00,2011.0,"DUBLIN, OHIO",-83.114077,40.099229,0,1
3002422,3002423,WITHDRAWN,LSI CORPORATION,"Electronics Engineers, Except Computer",ASIC DESIGN ENGINEER,Y,57158.00,2011.0,"ALLENTOWN, PENNSYLVANIA",-75.490183,40.608430,0,1
3002423,3002424,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,Y,93100.00,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0,1
3002424,3002425,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,Y,93100.00,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0,1
3002425,3002426,WITHDRAWN,MIFI SYSTEMS INC,Computer Systems Analysts,SYSTEMS ANALYST,Y,50939.00,2011.0,"CLEARWATER, FLORIDA",-82.800103,27.965853,0,1
3002426,3002427,WITHDRAWN,COVANCE CLINICAL RESEARCH UNIT INC.,Statisticians,BIOSTATISTICIAN I,Y,55640.00,2011.0,"MADISON, WISCONSIN",-89.401230,43.073052,0,1
3002427,3002428,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Programmers,COMPUTER PROGRAMMER,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002430,3002431,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002431,3002432,WITHDRAWN,AT LAST SPORTSWEAR INC.,Computer Support Specialists,COMPUTER SUPPORT SPECIALIST,Y,36837.00,2011.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545,0,1
3002432,3002433,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002433,3002434,WITHDRAWN,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,Biochemists and Biophysicists,INSTRUCTOR,Y,36795.00,2011.0,"DALLAS, TEXAS",-96.796988,32.776664,0,1
3002434,3002435,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,Y,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002435,3002436,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,Y,77730.00,2011.0,"DURHAM, NORTH CAROLINA",-78.898619,35.994033,0,1
3002436,3002437,WITHDRAWN,"XTRON SOFTWARE SERVICES, INC.",Computer Programmers,COMPUTER PROGRAMMERS,Y,89232.00,2011.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108,0,1
3002437,3002438,WITHDRAWN,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,"Health Specialties Teachers, Postsecondary",ASSISTANT PROFESSOR OF ANESTHESIOLOGY,Y,34510.00,2011.0,"JACKSON, MISSISSIPPI",-90.184810,32.298757,0,1
3002438,3002439,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,Y,53082.00,2011.0,"PLEASANTON, CALIFORNIA",-121.874679,37.662431,0,1
3002439,3002440,WITHDRAWN,NEW YORK UNIVERSITY,"Biological Scientists, All Other",ADJUNCT ASSOCIATE PROFESSOR,Y,37336.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0,1
3002440,3002441,WITHDRAWN,"ORACLE AMERICA, INC.","Software Developers, Applications",SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2),Y,64800.00,2011.0,"REDWOOD SHORES, CALIFORNIA",-122.245536,37.536413,0,1
3002441,3002442,WITHDRAWN,B & D DENTAL CORP.,Materials Scientists,MATERIALS SCIENTIST,N,70553.60,2011.0,"WEST VALLEY, UTAH",-112.001050,40.691613,1,0
3002442,3002443,WITHDRAWN,"MEDTECH STAFFING & SOLUTIONS, INC",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,Y,33800.00,2011.0,"AKRON, OHIO",-81.519005,41.081445,0,1
3002443,3002444,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814,0,1
3002444,3002445,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,Y,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814,0,1

In [17]:
df2.drop(['FULL_TIME_POSITION'], axis=1, inplace=True)

In [18]:
df2.columns

Index(['Unnamed: 0', 'CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon', 'lat', 'N', 'Y'],
      dtype='object')

In [19]:
df2

,Unnamed: 0,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat,N,Y
0,1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,36067.00,2016.0,"ANN ARBOR, MICHIGAN",-83.743038,42.280826,1,0
1,2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,242674.00,2016.0,"PLANO, TEXAS",-96.698886,33.019843,0,1
2,3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES,CHIEF PROCESS OFFICER,193066.00,2016.0,"JERSEY CITY, NEW JERSEY",-74.077642,40.728158,0,1
3,4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES,"REGIONAL PRESIDEN, AMERICAS",220314.00,2016.0,"DENVER, COLORADO",-104.990251,39.739236,0,1
4,5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES,PRESIDENT MONGOLIA AND INDIA,157518.40,2016.0,"ST. LOUIS, MISSOURI",-90.199404,38.627003,0,1
5,6,CERTIFIED-WITHDRAWN,BURGER KING CORPORATION,CHIEF EXECUTIVES,"EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...",225000.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680,0,1
6,7,CERTIFIED-WITHDRAWN,BT AND MK ENERGY AND COMMODITIES,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,91021.00,2016.0,"HOUSTON, TEXAS",-95.369803,29.760427,0,1
7,8,CERTIFIED-WITHDRAWN,"GLOBO MOBILE TECHNOLOGIES, INC.",CHIEF EXECUTIVES,CHIEF OPERATIONS OFFICER,150000.00,2016.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0,1
9,10,WITHDRAWN,LESSARD INTERNATIONAL LLC,CHIEF EXECUTIVES,PRESIDENT,154648.00,2016.0,"VIENNA, VIRGINIA",-77.265260,38.901222,0,1
10,11,CERTIFIED-WITHDRAWN,H.J. HEINZ COMPANY,CHIEF EXECUTIVES,"CHIEF INFORMATION OFFICER, HEINZ NORTH AMERICA",182978.00,2016.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625,0,1
11,12,CERTIFIED-WITHDRAWN,DOW CORNING CORPORATION,CHIEF EXECUTIVES,VICE PRESIDENT AND CHIEF HUMAN RESOURCES OFFICER,163717.00,2016.0,"MIDLAND, MICHIGAN",-84.247212,43.615583,0,1
13,14,CERTIFIED-WITHDRAWN,"BIOCAIR, INC.",CHIEF EXECUTIVES,CHIEF COMMERCIAL OFFICER,252637.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680,0,1
14,15,CERTIFIED-WITHDRAWN,NEWMONT MINING CORPORATION,CHIEF EXECUTIVES,BOARD MEMBER,105914.00,2016.0,"GREENWOOD VILLAGE, COLORADO",-104.950814,39.617210,0,1
15,16,CERTIFIED-WITHDRAWN,"VRICON, INC.",CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,153046.00,2016.0,"STERLING, VIRGINIA",-77.429130,39.006699,0,1
16,17,CERTIFIED-WITHDRAWN,CARDIAC SCIENCE CORPORATION,FINANCIAL MANAGERS,VICE PRESIDENT OF FINANCE,90834.00,2016.0,"WAUKESHA, WISCONSIN",-88.231481,43.011678,0,1
17,18,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0,1
18,19,CERTIFIED,QUICKLOGIX LLC,CHIEF EXECUTIVES,CEO,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108,0,1
19,20,CERTIFIED,"MCCHRYSTAL GROUP, LLC",CHIEF EXECUTIVES,"PRESIDENT, NORTHEAST REGION",241842.00,2016.0,"ALEXANDRIA, VIRGINIA",-77.046921,38.804835,0,1
20,21,CERTIFIED-WITHDRAWN,"CUDDLE BARN, INC.",CHIEF EXECUTIVES,CHIEF OPERATING OFFICER (COO),117998.00,2016.0,"COMMERCE, CALIFORNIA",-118.159793,34.000569,0,1
21,22,CERTIFIED-WITHDRAWN,WESTFIELD CORPORATION,CHIEF EXECUTIVES,"GENERAL MANAGER, OPERATIONS",164050.00,2016.0,"LOS ANGELES, CALIFORNIA",-118.243685,34.052234,0,1
22,23,CERTIFIED,"LOMICS, LLC",CHIEF EXECUTIVES,CEO,99986.00,2016.0,"SAN DIEGO, CALIFORNIA",-117.161084,32.715738,0,1
23,24,CERTIFIED,UC UNIVERSITY HIGH SCHOOL EDUCATION INC.,CHIEF EXECUTIVES,CHIEF FINANCIAL OFFICER,99986.00,2016.0,"CHULA VISTA, CALIFORNIA",-117.084196,32.640054,0,1
24,25,CERTIFIED-WITHDRAWN,VMS COMMUNICATIONS LLC,CHIEF EXECUTIVES,CHIEF OPERATING OFFICER,159370.00,2016.0,"MIAMI, FLORIDA",-80.191790,25.761680,0,1
25,26,CERTIFIED,"QUICKLOGIX, INC.",CHIEF EXECUTIVES,CEO,187200.00,2016.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108,0,1
26,27,CERTIFIED-WITHDRAWN,FOODESSENTIALS CORPORATION,CHIEF EXECUTIVES,CHIEF EXECUTIVE OFFICER,130853.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0,1
27,28,CERTIFIED,HELLO INC.,CHIEF EXECUTIVES,CHIEF BUSINESS OFFICER,215862.00,2016.0,"SAN FRANCISCO, CALIFORNIA",-122.419415,37.774929,0,1
28,29,CERTIFIED,UMBEL CORP,CHIEF EXECUTIVES,VICE PRESIDENT OF ENGINEERING,192088.00,2016.0,"AUSTIN, TEXAS",-97.743061,30.267153,0,1
29,30,CERTIFIED,"PERSPECTIVES OF FREEDOM FOUNDATION, INC",CHIEF EXECUTIVES,EXECUTIVE DIRECTOR,95295.98,2016.0,"WESTON, FLORIDA",-80.399775,26.100365,0,1
30,31,CERTIFIED,GTH INC.,CHIEF EXECUTIVES,"VICE PRESIDENT, BUSINESS DEVELOPMENT",149594.00,2016.0,"WASHINGTON, DISTRICT OF COLUMBIA",-77.036871,38.907192,0,1
31,32,CERTIFIED,THE KRAFT HEINZ COMPANY,CHIEF EXECUTIVES,HEAD OF US SALES,226699.00,2016.0,"CHICAGO, ILLINOIS",-87.629798,41.878114,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...
3002412,3002413,WITHDRAWN,"TLC SURGICAL MANAGEMENT, LTD.",Medical and Health Services Managers,MEDICAL & HEALTH SERVICES MANAGER,60632.00,2011.0,"THE WOODLANDS, TEXAS",-95.461263,30.165821,1,0
3002413,3002414,WITHDRAWN,HEADSTRONG SERVICES LLC,Computer Programmers,SENIOR CONSULTANT,79518.00,2011.0,"PITTSBURGH, PENNSYLVANIA",-79.995886,40.440625,0,1
3002415,3002416,WITHDRAWN,"MEDTRONIC, INC.",Computer Systems Analysts,SR. IT BUSINESS SYSTEMS ANALYST,76981.00,2011.0,"MOUNDS VIEW, MINNESOTA",-93.208558,45.104966,0,1
3002416,3002417,WITHDRAWN,"COMPUNNEL SOFTWARE GROUP, INC.",Computer Systems Analysts,SYSTEMS ANALYST,41538.00,2011.0,"NASHVILLE, TENNESSEE",-86.781602,36.162664,0,1
3002417,3002418,WITHDRAWN,BENZ 'N BEAMERS,Accountants and Auditors,ACCOUNTANT,38604.80,2011.0,"LOMITA, CALIFORNIA",-118.315072,33.792239,0,1
3002418,3002419,WITHDRAWN,"HIVE-FX, LLC",Multimedia Artists and Animators,3D ARTIST,50544.00,2011.0,"PORTLAND, OREGON",-122.676482,45.523062,0,1
3002419,3002420,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002420,3002421,WITHDRAWN,"GS GLOBAL SERVICES, INC.",Computer Programmers,IT CONSULTANT,70554.00,2011.0,"MANALAPAN, NEW JERSEY",-74.348582,40.285920,0,1
3002421,3002422,WITHDRAWN,"UNITED SOFTWARE GROUP, INC.",Network and Computer Systems Administrators*,WEBSPHERE PORTAL SYSTEM ADMINISTRATOR,45843.00,2011.0,"DUBLIN, OHIO",-83.114077,40.099229,0,1
3002422,3002423,WITHDRAWN,LSI CORPORATION,"Electronics Engineers, Except Computer",ASIC DESIGN ENGINEER,57158.00,2011.0,"ALLENTOWN, PENNSYLVANIA",-75.490183,40.608430,0,1
3002423,3002424,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,93100.00,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0,1
3002424,3002425,WITHDRAWN,"KASEYA DEVELOPMENT, LLC","Software Developers, Applications",SR. SOFTWARE ENGINEER,93100.00,2011.0,"SAN JOSE, CALIFORNIA",-121.886329,37.338208,0,1
3002425,3002426,WITHDRAWN,MIFI SYSTEMS INC,Computer Systems Analysts,SYSTEMS ANALYST,50939.00,2011.0,"CLEARWATER, FLORIDA",-82.800103,27.965853,0,1
3002426,3002427,WITHDRAWN,COVANCE CLINICAL RESEARCH UNIT INC.,Statisticians,BIOSTATISTICIAN I,55640.00,2011.0,"MADISON, WISCONSIN",-89.401230,43.073052,0,1
3002427,3002428,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Programmers,COMPUTER PROGRAMMER,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002430,3002431,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002431,3002432,WITHDRAWN,AT LAST SPORTSWEAR INC.,Computer Support Specialists,COMPUTER SUPPORT SPECIALIST,36837.00,2011.0,"SECAUCUS, NEW JERSEY",-74.056530,40.789545,0,1
3002432,3002433,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002433,3002434,WITHDRAWN,THE UNIVERSITY OF TEXAS SOUTHWESTERN MEDICAL C...,Biochemists and Biophysicists,INSTRUCTOR,36795.00,2011.0,"DALLAS, TEXAS",-96.796988,32.776664,0,1
3002434,3002435,WITHDRAWN,"TRISYNC TECHNOLOGIES, INC.",Computer Systems Analysts,COMPUTER SYSTEM ANALYST,55245.00,2011.0,"EDISON, NEW JERSEY",-74.412095,40.518715,0,1
3002435,3002436,WITHDRAWN,"MARLABS, INC",Computer Programmers,PROGRAMMER/ANALYST,77730.00,2011.0,"DURHAM, NORTH CAROLINA",-78.898619,35.994033,0,1
3002436,3002437,WITHDRAWN,"XTRON SOFTWARE SERVICES, INC.",Computer Programmers,COMPUTER PROGRAMMERS,89232.00,2011.0,"SANTA CLARA, CALIFORNIA",-121.955236,37.354108,0,1
3002437,3002438,WITHDRAWN,UNIVERSITY OF MISSISSIPPI MEDICAL CENTER,"Health Specialties Teachers, Postsecondary",ASSISTANT PROFESSOR OF ANESTHESIOLOGY,34510.00,2011.0,"JACKSON, MISSISSIPPI",-90.184810,32.298757,0,1
3002438,3002439,WITHDRAWN,"CANVAS INFOTECH, INC.",Database Administrators,DATA ANALYST,53082.00,2011.0,"PLEASANTON, CALIFORNIA",-121.874679,37.662431,0,1
3002439,3002440,WITHDRAWN,NEW YORK UNIVERSITY,"Biological Scientists, All Other",ADJUNCT ASSOCIATE PROFESSOR,37336.00,2011.0,"NEW YORK, NEW YORK",-74.005941,40.712784,0,1
3002440,3002441,WITHDRAWN,"ORACLE AMERICA, INC.","Software Developers, Applications",SOFTWARE ENGINEER (SOFTWARE DEVELOPER 2),64800.00,2011.0,"REDWOOD SHORES, CALIFORNIA",-122.245536,37.536413,0,1
3002441,3002442,WITHDRAWN,B & D DENTAL CORP.,Materials Scientists,MATERIALS SCIENTIST,70553.60,2011.0,"WEST VALLEY, UTAH",-112.001050,40.691613,1,0
3002442,3002443,WITHDRAWN,"MEDTECH STAFFING & SOLUTIONS, INC",Market Research Analysts and Marketing Special...,MARKET RESEARCH ANALYST,33800.00,2011.0,"AKRON, OHIO",-81.519005,41.081445,0,1
3002443,3002444,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814,0,1
3002444,3002445,WITHDRAWN,LARSEN & TOUBRO LIMITED,Commercial and Industrial Designers,DESIGN ENGINEER,59800.00,2011.0,"CHELMSFORD, MASSACHUSETTS",-71.367284,42.599814,0,1

In [20]:
df2.shape

(2877765, 12)

In [56]:
X = df2.drop(['CASE_STATUS','Unnamed: 0','EMPLOYER_NAME','SOC_NAME','JOB_TITLE','WORKSITE'],1)

In [57]:
X

         PREVAILING_WAGE    YEAR         lon        lat  N  Y
0               36067.00  2016.0  -83.743038  42.280826  1  0
1              242674.00  2016.0  -96.698886  33.019843  0  1
2              193066.00  2016.0  -74.077642  40.728158  0  1
3              220314.00  2016.0 -104.990251  39.739236  0  1
4              157518.40  2016.0  -90.199404  38.627003  0  1
5              225000.00  2016.0  -80.191790  25.761680  0  1
6               91021.00  2016.0  -95.369803  29.760427  0  1
7              150000.00  2016.0 -121.886329  37.338208  0  1
9              154648.00  2016.0  -77.265260  38.901222  0  1
10             182978.00  2016.0  -79.995886  40.440625  0  1
11             163717.00  2016.0  -84.247212  43.615583  0  1
13             252637.00  2016.0  -80.191790  25.761680  0  1
14             105914.00  2016.0 -104.950814  39.617210  0  1
15             153046.00  2016.0  -77.429130  39.006699  0  1
16              90834.00  2016.0  -88.231481  43.011678  0  1
17             164050.00  2016.0 -118.243685  34.052234  0  1
18             187200.00  2016.0 -121.955236  37.354108  0  1
19             241842.00  2016.0  -77.046921  38.804835  0  1
20             117998.00  2016.0 -118.159793  34.000569  0  1
21             164050.00  2016.0 -118.243685  34.052234  0  1
22              99986.00  2016.0 -117.161084  32.715738  0  1
23              99986.00  2016.0 -117.084196  32.640054  0  1
24             159370.00  2016.0  -80.191790  25.761680  0  1
25             187200.00  2016.0 -121.955236  37.354108  0  1
26             130853.00  2016.0  -87.629798  41.878114  0  1
27             215862.00  2016.0 -122.419415  37.774929  0  1
28             192088.00  2016.0  -97.743061  30.267153  0  1
29              95295.98  2016.0  -80.399775  26.100365  0  1
30             149594.00  2016.0  -77.036871  38.907192  0  1
31             226699.00  2016.0  -87.629798  41.878114  0  1
...                  ...     ...         ...        ... .. ..
3002412         60632.00  2011.0  -95.461263  30.165821  1  0
3002413         79518.00  2011.0  -79.995886  40.440625  0  1
3002415         76981.00  2011.0  -93.208558  45.104966  0  1
3002416         41538.00  2011.0  -86.781602  36.162664  0  1
3002417         38604.80  2011.0 -118.315072  33.792239  0  1
3002418         50544.00  2011.0 -122.676482  45.523062  0  1
3002419         55245.00  2011.0  -74.412095  40.518715  0  1
3002420         70554.00  2011.0  -74.348582  40.285920  0  1
3002421         45843.00  2011.0  -83.114077  40.099229  0  1
3002422         57158.00  2011.0  -75.490183  40.608430  0  1
3002423         93100.00  2011.0 -121.886329  37.338208  0  1
3002424         93100.00  2011.0 -121.886329  37.338208  0  1
3002425         50939.00  2011.0  -82.800103  27.965853  0  1
3002426         55640.00  2011.0  -89.401230  43.073052  0  1
3002427         55245.00  2011.0  -74.412095  40.518715  0  1
3002430         55245.00  2011.0  -74.412095  40.518715  0  1
3002431         36837.00  2011.0  -74.056530  40.789545  0  1
3002432         55245.00  2011.0  -74.412095  40.518715  0  1
3002433         36795.00  2011.0  -96.796988  32.776664  0  1
3002434         55245.00  2011.0  -74.412095  40.518715  0  1
3002435         77730.00  2011.0  -78.898619  35.994033  0  1
3002436         89232.00  2011.0 -121.955236  37.354108  0  1
3002437         34510.00  2011.0  -90.184810  32.298757  0  1
3002438         53082.00  2011.0 -121.874679  37.662431  0  1
3002439         37336.00  2011.0  -74.005941  40.712784  0  1
3002440         64800.00  2011.0 -122.245536  37.536413  0  1
3002441         70553.60  2011.0 -112.001050  40.691613  1  0
3002442         33800.00  2011.0  -81.519005  41.081445  0  1
3002443         59800.00  2011.0  -71.367284  42.599814  0  1
3002444         59800.00  2011.0  -71.367284  42.599814  0  1

[2877765 rows x 6 columns]

In [58]:
y = df2['CASE_STATUS']

In [59]:
y

0          CERTIFIED-WITHDRAWN
1          CERTIFIED-WITHDRAWN
2          CERTIFIED-WITHDRAWN
3          CERTIFIED-WITHDRAWN
4                    WITHDRAWN
5          CERTIFIED-WITHDRAWN
6          CERTIFIED-WITHDRAWN
7          CERTIFIED-WITHDRAWN
9                    WITHDRAWN
10         CERTIFIED-WITHDRAWN
11         CERTIFIED-WITHDRAWN
13         CERTIFIED-WITHDRAWN
14         CERTIFIED-WITHDRAWN
15         CERTIFIED-WITHDRAWN
16         CERTIFIED-WITHDRAWN
17         CERTIFIED-WITHDRAWN
18                   CERTIFIED
19                   CERTIFIED
20         CERTIFIED-WITHDRAWN
21         CERTIFIED-WITHDRAWN
22                   CERTIFIED
23                   CERTIFIED
24         CERTIFIED-WITHDRAWN
25                   CERTIFIED
26         CERTIFIED-WITHDRAWN
27                   CERTIFIED
28                   CERTIFIED
29                   CERTIFIED
30                   CERTIFIED
31                   CERTIFIED
                  ...
3002412              WITHDRAWN
3002413              WITHDRAWN
3002415              WITHDRAWN
3002416              WITHDRAWN
3002417              WITHDRAWN
3002418              WITHDRAWN
3002419              WITHDRAWN
3002420              WITHDRAWN
3002421              WITHDRAWN
3002422              WITHDRAWN
3002423              WITHDRAWN
3002424              WITHDRAWN
3002425              WITHDRAWN
3002426              WITHDRAWN
3002427              WITHDRAWN
3002430              WITHDRAWN
3002431              WITHDRAWN
3002432              WITHDRAWN
3002433              WITHDRAWN
3002434              WITHDRAWN
3002435              WITHDRAWN
3002436              WITHDRAWN
3002437              WITHDRAWN
3002438              WITHDRAWN
3002439              WITHDRAWN
3002440              WITHDRAWN
3002441              WITHDRAWN
3002442              WITHDRAWN
3002443              WITHDRAWN
3002444              WITHDRAWN
Name: CASE_STATUS, Length: 2877765, dtype: object

In [60]:
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.2,random_state=42)

In [61]:
X_train

         PREVAILING_WAGE    YEAR         lon        lat  N  Y
2149752          70845.0  2013.0  -96.829169  32.961790  0  1
539958          124907.0  2016.0 -121.886329  37.338208  0  1
1281220          70221.0  2014.0  -75.165222  39.952584  0  1
2714604          45489.6  2011.0  -74.005941  40.712784  1  0
2907082          60798.0  2011.0  -77.429130  39.006699  0  1
2726615          82305.0  2011.0 -122.032182  37.322998  0  1
1691247          54642.0  2014.0  -84.512020  39.103118  0  1
1463060          56763.2  2014.0  -86.158068  39.768403  1  0
1226160          70325.0  2015.0  -95.369803  29.760427  0  1
2228040          91146.0  2013.0  -73.944158  40.678178  0  1
2900709          65603.0  2011.0  -96.796988  32.776664  0  1
2648054          55370.0  2011.0 -117.914504  33.835293  0  1
828711           51771.0  2015.0 -116.214607  43.618710  0  1
2591293          34861.0  2012.0  -83.743038  42.280826  0  1
449421           73424.0  2016.0  -93.470786  44.854686  0  1
467025           55682.0  2016.0 -122.201516  47.610150  1  0
1112316          68016.0  2015.0  -80.843127  35.227087  0  1
1551735          56722.0  2014.0  -76.612189  39.290385  0  1
1075761          63981.0  2015.0  -96.698886  33.019843  0  1
95614            76956.0  2016.0  -96.823612  33.150674  0  1
2394505          40880.0  2012.0  -84.387982  33.748995  0  1
2617094          55640.0  2012.0  -87.840625  42.258634  0  1
397884          111405.0  2016.0  -74.005941  40.712784  0  1
176087           87755.0  2016.0  -93.208558  45.104966  0  1
839803           39728.0  2015.0  -97.330766  32.755488  0  1
2209652          79269.0  2013.0 -122.036350  37.368830  0  1
2199828          44803.0  2013.0 -122.166076  37.424106  0  1
829183           54538.0  2015.0  -96.334407  30.627977  0  1
1473044          98675.0  2014.0 -122.083851  37.386052  0  1
44851            50086.0  2016.0 -122.419415  37.774929  1  0
...                  ...     ...         ...        ... .. ..
2685955          68723.0  2011.0  -77.036871  38.907192  0  1
1347751          35976.0  2014.0  -87.844794  42.363633  0  1
1017948          56056.0  2015.0  -84.703189  39.066147  0  1
1517009          76253.0  2014.0 -122.676482  45.523062  0  1
1439464          76710.0  2014.0  -84.387982  33.748995  0  1
2367219          30506.0  2012.0  -96.731103  43.544596  0  1
1301208          79269.0  2014.0 -122.036350  37.368830  0  1
106602          105789.0  2016.0 -122.325525  37.562992  0  1
814382           60000.0  2015.0 -157.858333  21.306944  0  1
1888472          57200.0  2013.0 -104.987760  39.647765  0  1
333321           62982.0  2016.0  -83.114077  40.099229  1  0
1827214         122658.0  2013.0  -71.516714  42.483420  0  1
1413112         122803.0  2014.0  -79.791975  36.072635  0  1
809775           84302.0  2015.0  -89.580098  40.666149  0  1
335632          103189.0  2016.0 -117.794694  33.683947  0  1
2215908          80059.0  2013.0  -74.005941  40.712784  0  1
283896           79747.0  2016.0  -96.896115  32.926514  0  1
1277402         124717.0  2014.0 -122.121512  47.673988  0  1
2357157          52894.0  2012.0  -87.978956  41.963363  0  1
1169983          63814.0  2015.0  -77.357003  38.958631  0  1
2074238          60611.0  2013.0  -74.464286  40.554887  0  1
1621334          53373.0  2014.0 -104.990251  39.739236  0  1
2317210          68702.0  2012.0  -77.094709  38.984652  0  1
753522           74381.0  2015.0  -74.401540  40.698435  0  1
113586           60133.0  2016.0  -96.823612  33.150674  1  0
1749732          65354.0  2014.0  -71.200891  42.788555  0  1
2445643          83595.2  2012.0 -117.161084  32.715738  0  1
2311519          93413.0  2012.0  -71.058880  42.360083  0  1
2885529          43555.0  2011.0  -97.330766  32.755488  0  1
2301004          93746.0  2012.0 -122.201516  47.610150  0  1

[2302212 rows x 6 columns]

In [62]:
X_test

         PREVAILING_WAGE    YEAR         lon        lat  N  Y
1206062         70803.00  2015.0  -84.387982  33.748995  0  1
2634848         60278.00  2012.0  -97.133345  33.625941  0  1
2340838         78458.04  2012.0  -95.369803  29.760427  0  1
502860         127150.00  2016.0 -122.419415  37.774929  0  1
560987          53019.00  2016.0  -81.441226  41.389776  1  0
1371649        100651.00  2014.0  -87.629798  41.878114  0  1
2659907         69800.00  2011.0  -74.005941  40.712784  0  1
1628570         46825.12  2014.0  -87.629798  41.878114  0  1
2327564         38064.00  2012.0  -77.094709  38.984652  0  1
1135207         55245.00  2015.0  -87.629798  41.878114  0  1
350404         117458.00  2016.0 -122.332071  47.606209  0  1
2735049         55246.00  2011.0 -122.332071  47.606209  0  1
2608494         51521.60  2012.0 -118.243685  34.052234  0  1
1152790         41330.00  2015.0  -75.165222  39.952584  0  1
2852303         47112.00  2011.0  -95.997988  41.252363  0  1
1216811         65312.00  2015.0  -80.191790  25.761680  1  0
986186          55453.00  2015.0  -83.045754  42.331427  0  1
2183506         90937.60  2013.0  -80.843127  35.227087  0  1
516275          61818.00  2016.0  -74.005941  40.712784  1  0
1584611         80746.00  2014.0 -121.949957  37.287165  0  1
466630          70179.00  2016.0  -80.843127  35.227087  0  1
2413575         66934.00  2012.0  -88.231481  43.011678  0  1
1838597         59987.00  2013.0  -76.937760  38.989697  0  1
1984599         55369.60  2013.0  -74.163755  40.858433  1  0
741924          72613.00  2015.0 -105.086650  39.920541  0  1
1258887         23837.00  2015.0  -87.629798  41.878114  0  1
1795632         96013.00  2013.0  -87.629798  41.878114  0  1
2708586         38210.00  2011.0  -71.367284  42.599814  0  1
2281205         77168.00  2012.0  -76.612733  40.963420  0  1
1643817         82971.00  2014.0  -74.981002  40.139277  0  1
...                  ...     ...         ...        ... .. ..
1419615         68952.00  2014.0 -122.271079  37.558547  0  1
2099695         59862.00  2013.0 -111.658534  40.233844  0  1
105821          56514.00  2016.0  -87.629798  41.878114  1  0
1260591        103418.00  2015.0  -73.944158  40.678178  0  1
2883993         69846.00  2011.0 -119.347338  36.207729  0  1
1214835         60653.00  2015.0  -75.266289  40.152331  0  1
576278          42682.00  2016.0  -77.610922  43.161030  1  0
2450810         38355.00  2012.0  -73.628196  41.026242  0  1
780214          68016.00  2015.0  -80.843127  35.227087  0  1
2281031         71760.00  2012.0  -76.861046  39.203714  0  1
2624240         54454.00  2012.0  -84.294090  34.075376  0  1
2267341         33467.20  2012.0 -118.243685  34.052234  1  0
2164829         29578.00  2013.0  -80.191790  25.761680  0  1
663401          82930.00  2015.0  -77.106770  38.879970  0  1
2192211         34528.00  2013.0  -74.667223  40.357298  0  1
2359829         48589.00  2012.0 -118.243685  34.052234  0  1
1933942         53914.00  2013.0  -74.412095  40.518715  0  1
550547         120910.00  2016.0 -122.347749  37.935758  0  1
2508260         44616.00  2012.0  -74.005941  40.712784  0  1
590489          84656.00  2016.0  -74.005941  40.712784  0  1
2381692         85530.00  2012.0  -74.005941  40.712784  0  1
1926188         62067.00  2013.0  -80.843127  35.227087  0  1
2231646         54912.00  2012.0 -117.161084  32.715738  0  1
1599783         47861.00  2014.0  -97.743061  30.267153  0  1
1399466         68474.00  2014.0 -111.841250  33.306160  0  1
2257036         76814.00  2012.0  -87.937291  42.066417  0  1
366559          88878.00  2016.0  -77.487442  39.043757  0  1
424680         102107.00  2016.0 -122.036350  37.368830  0  1
2028762         82118.40  2013.0  -74.005941  40.712784  1  0
557358          68556.80  2016.0  -83.176315  42.322260  1  0

[575553 rows x 6 columns]

In [63]:
y_train

2149752              CERTIFIED
539958               CERTIFIED
1281220    CERTIFIED-WITHDRAWN
2714604              CERTIFIED
2907082              CERTIFIED
2726615              CERTIFIED
1691247              CERTIFIED
1463060              CERTIFIED
1226160              CERTIFIED
2228040              CERTIFIED
2900709              WITHDRAWN
2648054              CERTIFIED
828711               CERTIFIED
2591293              CERTIFIED
449421               CERTIFIED
467025     CERTIFIED-WITHDRAWN
1112316              CERTIFIED
1551735              CERTIFIED
1075761              CERTIFIED
95614                CERTIFIED
2394505              CERTIFIED
2617094    CERTIFIED-WITHDRAWN
397884               CERTIFIED
176087               CERTIFIED
839803               CERTIFIED
2209652              CERTIFIED
2199828              CERTIFIED
829183               CERTIFIED
1473044              CERTIFIED
44851                CERTIFIED
                  ...
2685955              CERTIFIED
1347751              CERTIFIED
1017948              CERTIFIED
1517009              CERTIFIED
1439464              CERTIFIED
2367219              CERTIFIED
1301208              CERTIFIED
106602               CERTIFIED
814382               CERTIFIED
1888472              CERTIFIED
333321               CERTIFIED
1827214              CERTIFIED
1413112              CERTIFIED
809775               CERTIFIED
335632               CERTIFIED
2215908              WITHDRAWN
283896     CERTIFIED-WITHDRAWN
1277402    CERTIFIED-WITHDRAWN
2357157    CERTIFIED-WITHDRAWN
1169983              CERTIFIED
2074238              CERTIFIED
1621334              CERTIFIED
2317210    CERTIFIED-WITHDRAWN
753522               CERTIFIED
113586               CERTIFIED
1749732              CERTIFIED
2445643              CERTIFIED
2311519              CERTIFIED
2885529              CERTIFIED
2301004              CERTIFIED
Name: CASE_STATUS, Length: 2302212, dtype: object

In [64]:
y_test

1206062              CERTIFIED
2634848              CERTIFIED
2340838              CERTIFIED
502860               CERTIFIED
560987               CERTIFIED
1371649              CERTIFIED
2659907              CERTIFIED
1628570              CERTIFIED
2327564              CERTIFIED
1135207              CERTIFIED
350404               CERTIFIED
2735049              CERTIFIED
2608494              CERTIFIED
1152790              CERTIFIED
2852303              CERTIFIED
1216811              CERTIFIED
986186               CERTIFIED
2183506              CERTIFIED
516275               CERTIFIED
1584611              WITHDRAWN
466630               CERTIFIED
2413575    CERTIFIED-WITHDRAWN
1838597              CERTIFIED
1984599              CERTIFIED
741924               CERTIFIED
1258887              CERTIFIED
1795632              CERTIFIED
2708586              CERTIFIED
2281205                 DENIED
1643817              CERTIFIED
                  ...
1419615              CERTIFIED
2099695              CERTIFIED
105821               CERTIFIED
1260591              CERTIFIED
2883993              CERTIFIED
1214835              WITHDRAWN
576278               CERTIFIED
2450810              CERTIFIED
780214               CERTIFIED
2281031              CERTIFIED
2624240              WITHDRAWN
2267341                 DENIED
2164829              CERTIFIED
663401     CERTIFIED-WITHDRAWN
2192211              CERTIFIED
2359829              CERTIFIED
1933942              CERTIFIED
550547               CERTIFIED
2508260              CERTIFIED
590489     CERTIFIED-WITHDRAWN
2381692              CERTIFIED
1926188              CERTIFIED
2231646              CERTIFIED
1599783              CERTIFIED
1399466              CERTIFIED
2257036    CERTIFIED-WITHDRAWN
366559               CERTIFIED
424680               CERTIFIED
2028762              CERTIFIED
557358               CERTIFIED
Name: CASE_STATUS, Length: 575553, dtype: object

In [65]:
#Decision Tree Classifier
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion="entropy", random_state=42)
classifier.fit(X_train,y_train)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=42,
            splitter='best')

In [66]:
y_pred = classifier.predict(X_test)

In [67]:
from sklearn.metrics import confusion_matrix

In [68]:
cm =confusion_matrix(y_test,y_pred)

In [70]:
cm

array([[482975,   9052,   6498,      1,      3,   3791],
       [ 26679,  11419,    302,      0,      0,    626],
       [ 14959,    324,   1683,      0,      0,    223],
       [     0,      0,      0,      0,      0,      0],
       [     1,      0,      0,      0,      0,      0],
       [ 14948,    961,    221,      0,      0,    887]], dtype=int64)

In [71]:
from sklearn.metrics import accuracy_score

In [72]:
accuracy_score(y_test,y_pred)

0.8634547991236254

In [73]:
#Random Forest Classifier
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators=10,criterion="entropy", random_state=42)
classifier.fit(X_train,y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='entropy',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=42, verbose=0, warm_start=False)

In [74]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
cm =confusion_matrix(y_test,y_pred)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8660662006800416

In [75]:
#KNN Classification
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors=5)
classifier.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=5, p=2,
           weights='uniform')

In [76]:
y_pred = classifier.predict(X_test)
from sklearn.metrics import confusion_matrix
cm =confusion_matrix(y_test,y_pred)
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.8812324842368991

In [ ]:
#Highest accuracy is 88% with KNN Classification.