In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
car = pd.read_csv("car_data.csv")

In [3]:
car.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [4]:
car.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [5]:
car.shape

(301, 9)

In [6]:
car.info

<bound method DataFrame.info of           Car_Name  Year  Selling_Price  Present_Price  Kms_Driven Fuel_Type  \
0             ritz  2014           3.35           5.59       27000    Petrol
1              sx4  2013           4.75           9.54       43000    Diesel
2             ciaz  2017           7.25           9.85        6900    Petrol
3          wagon r  2011           2.85           4.15        5200    Petrol
4            swift  2014           4.60           6.87       42450    Diesel
5    vitara brezza  2018           9.25           9.83        2071    Diesel
6             ciaz  2015           6.75           8.12       18796    Petrol
7          s cross  2015           6.50           8.61       33429    Diesel
8             ciaz  2016           8.75           8.89       20273    Diesel
9             ciaz  2015           7.45           8.92       42367    Diesel
10        alto 800  2017           2.85           3.60        2135    Petrol
11            ciaz  2015           6.85          10.38       51000    Diesel
12            ciaz  2015           7.50           9.94       15000    Petrol
13          ertiga  2015           6.10           7.71       26000    Petrol
14           dzire  2009           2.25           7.21       77427    Petrol
15          ertiga  2016           7.75          10.79       43000    Diesel
16          ertiga  2015           7.25          10.79       41678    Diesel
17          ertiga  2016           7.75          10.79       43000    Diesel
18         wagon r  2015           3.25           5.09       35500       CNG
19             sx4  2010           2.65           7.98       41442    Petrol
20        alto k10  2016           2.85           3.95       25000    Petrol
21           ignis  2017           4.90           5.71        2400    Petrol
22             sx4  2011           4.40           8.01       50000    Petrol
23        alto k10  2014           2.50           3.46       45280    Petrol
24         wagon r  2013           2.90           4.41       56879    Petrol
25           swift  2011           3.00           4.99       20000    Petrol
26           swift  2013           4.15           5.87       55138    Petrol
27           swift  2017           6.00           6.49       16200    Petrol
28        alto k10  2010           1.95           3.95       44542    Petrol
29            ciaz  2015           7.45          10.38       45000    Diesel
..             ...   ...            ...            ...         ...       ...
271           city  2009           3.00          10.00       69562    Petrol
272           city  2015           7.50          10.00       27600    Petrol
273           jazz  2010           2.25           7.50       61203    Petrol
274           brio  2014           5.30           6.80       16500    Petrol
275           city  2016          10.90          13.60       30753    Petrol
276           city  2015           8.65          13.60       24800    Petrol
277           city  2015           9.70          13.60       21780    Petrol
278           jazz  2016           6.00           8.40        4000    Petrol
279           city  2014           6.25          13.60       40126    Petrol
280           brio  2015           5.25           5.90       14465    Petrol
281           city  2006           2.10           7.60       50456    Petrol
282           city  2014           8.25          14.00       63000    Diesel
283           city  2016           8.99          11.80        9010    Petrol
284           brio  2013           3.50           5.90        9800    Petrol
285           jazz  2016           7.40           8.50       15059    Petrol
286           jazz  2016           5.65           7.90       28569    Petrol
287          amaze  2015           5.75           7.50       44000    Petrol
288           city  2015           8.40          13.60       34000    Petrol
289           city  2016          10.11          13.60       10980    Petrol
290          amaze  2014           4.50           6.40       19000    Petrol
291           brio  2015           5.40           6.10       31427    Petrol
292           jazz  2016           6.40           8.40       12000    Petrol
293           city  2010           3.25           9.90       38000    Petrol
294          amaze  2014           3.75           6.80       33019    Petrol
295           city  2015           8.55          13.09       60076    Diesel
296           city  2016           9.50          11.60       33988    Diesel
297           brio  2015           4.00           5.90       60000    Petrol
298           city  2009           3.35          11.00       87934    Petrol
299           city  2017          11.50          12.50        9000    Diesel
300           brio  2016           5.30           5.90        5464    Petrol

    Seller_Type Transmission  Owner
0        Dealer       Manual      0
1        Dealer       Manual      0
2        Dealer       Manual      0
3        Dealer       Manual      0
4        Dealer       Manual      0
5        Dealer       Manual      0
6        Dealer       Manual      0
7        Dealer       Manual      0
8        Dealer       Manual      0
9        Dealer       Manual      0
10       Dealer       Manual      0
11       Dealer       Manual      0
12       Dealer    Automatic      0
13       Dealer       Manual      0
14       Dealer       Manual      0
15       Dealer       Manual      0
16       Dealer       Manual      0
17       Dealer       Manual      0
18       Dealer       Manual      0
19       Dealer       Manual      0
20       Dealer       Manual      0
21       Dealer       Manual      0
22       Dealer    Automatic      0
23       Dealer       Manual      0
24       Dealer       Manual      0
25       Dealer       Manual      0
26       Dealer       Manual      0
27   Individual       Manual      0
28       Dealer       Manual      0
29       Dealer       Manual      0
..          ...          ...    ...
271      Dealer       Manual      0
272      Dealer       Manual      0
273      Dealer       Manual      0
274      Dealer       Manual      0
275      Dealer    Automatic      0
276      Dealer       Manual      0
277      Dealer       Manual      0
278      Dealer       Manual      0
279      Dealer       Manual      0
280      Dealer       Manual      0
281      Dealer       Manual      0
282      Dealer       Manual      0
283      Dealer       Manual      0
284      Dealer       Manual      0
285      Dealer    Automatic      0
286      Dealer       Manual      0
287      Dealer    Automatic      0
288      Dealer       Manual      0
289      Dealer       Manual      0
290      Dealer       Manual      0
291      Dealer       Manual      0
292      Dealer       Manual      0
293      Dealer       Manual      0
294      Dealer       Manual      0
295      Dealer       Manual      0
296      Dealer       Manual      0
297      Dealer       Manual      0
298      Dealer       Manual      0
299      Dealer       Manual      0
300      Dealer       Manual      0

[301 rows x 9 columns]>

In [7]:
car.dtypes

Car_Name          object
Year               int64
Selling_Price    float64
Present_Price    float64
Kms_Driven         int64
Fuel_Type         object
Seller_Type       object
Transmission      object
Owner              int64
dtype: object

In [8]:
car.isnull().sum()

Car_Name         0
Year             0
Selling_Price    0
Present_Price    0
Kms_Driven       0
Fuel_Type        0
Seller_Type      0
Transmission     0
Owner            0
dtype: int64

In [9]:
X=car.drop(["Selling_Price","Car_Name"],1)
y=car["Selling_Price"]

In [10]:
X

     Year  Present_Price  Kms_Driven Fuel_Type Seller_Type Transmission  Owner
0    2014           5.59       27000    Petrol      Dealer       Manual      0
1    2013           9.54       43000    Diesel      Dealer       Manual      0
2    2017           9.85        6900    Petrol      Dealer       Manual      0
3    2011           4.15        5200    Petrol      Dealer       Manual      0
4    2014           6.87       42450    Diesel      Dealer       Manual      0
5    2018           9.83        2071    Diesel      Dealer       Manual      0
6    2015           8.12       18796    Petrol      Dealer       Manual      0
7    2015           8.61       33429    Diesel      Dealer       Manual      0
8    2016           8.89       20273    Diesel      Dealer       Manual      0
9    2015           8.92       42367    Diesel      Dealer       Manual      0
10   2017           3.60        2135    Petrol      Dealer       Manual      0
11   2015          10.38       51000    Diesel      Dealer       Manual      0
12   2015           9.94       15000    Petrol      Dealer    Automatic      0
13   2015           7.71       26000    Petrol      Dealer       Manual      0
14   2009           7.21       77427    Petrol      Dealer       Manual      0
15   2016          10.79       43000    Diesel      Dealer       Manual      0
16   2015          10.79       41678    Diesel      Dealer       Manual      0
17   2016          10.79       43000    Diesel      Dealer       Manual      0
18   2015           5.09       35500       CNG      Dealer       Manual      0
19   2010           7.98       41442    Petrol      Dealer       Manual      0
20   2016           3.95       25000    Petrol      Dealer       Manual      0
21   2017           5.71        2400    Petrol      Dealer       Manual      0
22   2011           8.01       50000    Petrol      Dealer    Automatic      0
23   2014           3.46       45280    Petrol      Dealer       Manual      0
24   2013           4.41       56879    Petrol      Dealer       Manual      0
25   2011           4.99       20000    Petrol      Dealer       Manual      0
26   2013           5.87       55138    Petrol      Dealer       Manual      0
27   2017           6.49       16200    Petrol  Individual       Manual      0
28   2010           3.95       44542    Petrol      Dealer       Manual      0
29   2015          10.38       45000    Diesel      Dealer       Manual      0
..    ...            ...         ...       ...         ...          ...    ...
271  2009          10.00       69562    Petrol      Dealer       Manual      0
272  2015          10.00       27600    Petrol      Dealer       Manual      0
273  2010           7.50       61203    Petrol      Dealer       Manual      0
274  2014           6.80       16500    Petrol      Dealer       Manual      0
275  2016          13.60       30753    Petrol      Dealer    Automatic      0
276  2015          13.60       24800    Petrol      Dealer       Manual      0
277  2015          13.60       21780    Petrol      Dealer       Manual      0
278  2016           8.40        4000    Petrol      Dealer       Manual      0
279  2014          13.60       40126    Petrol      Dealer       Manual      0
280  2015           5.90       14465    Petrol      Dealer       Manual      0
281  2006           7.60       50456    Petrol      Dealer       Manual      0
282  2014          14.00       63000    Diesel      Dealer       Manual      0
283  2016          11.80        9010    Petrol      Dealer       Manual      0
284  2013           5.90        9800    Petrol      Dealer       Manual      0
285  2016           8.50       15059    Petrol      Dealer    Automatic      0
286  2016           7.90       28569    Petrol      Dealer       Manual      0
287  2015           7.50       44000    Petrol      Dealer    Automatic      0
288  2015          13.60       34000    Petrol      Dealer       Manual      0
289  2016          13.60       10980    Petrol      Dealer       Manual      0
290  2014           6.40       19000    Petrol      Dealer       Manual      0
291  2015           6.10       31427    Petrol      Dealer       Manual      0
292  2016           8.40       12000    Petrol      Dealer       Manual      0
293  2010           9.90       38000    Petrol      Dealer       Manual      0
294  2014           6.80       33019    Petrol      Dealer       Manual      0
295  2015          13.09       60076    Diesel      Dealer       Manual      0
296  2016          11.60       33988    Diesel      Dealer       Manual      0
297  2015           5.90       60000    Petrol      Dealer       Manual      0
298  2009          11.00       87934    Petrol      Dealer       Manual      0
299  2017          12.50        9000    Diesel      Dealer       Manual      0
300  2016           5.90        5464    Petrol      Dealer       Manual      0

[301 rows x 7 columns]

In [11]:
y

0       3.35
1       4.75
2       7.25
3       2.85
4       4.60
5       9.25
6       6.75
7       6.50
8       8.75
9       7.45
10      2.85
11      6.85
12      7.50
13      6.10
14      2.25
15      7.75
16      7.25
17      7.75
18      3.25
19      2.65
20      2.85
21      4.90
22      4.40
23      2.50
24      2.90
25      3.00
26      4.15
27      6.00
28      1.95
29      7.45
       ...
271     3.00
272     7.50
273     2.25
274     5.30
275    10.90
276     8.65
277     9.70
278     6.00
279     6.25
280     5.25
281     2.10
282     8.25
283     8.99
284     3.50
285     7.40
286     5.65
287     5.75
288     8.40
289    10.11
290     4.50
291     5.40
292     6.40
293     3.25
294     3.75
295     8.55
296     9.50
297     4.00
298     3.35
299    11.50
300     5.30
Name: Selling_Price, Length: 301, dtype: float64

In [12]:
X=pd.get_dummies(X)

In [13]:
X

,Year,Present_Price,Kms_Driven,Owner,Fuel_Type_CNG,Fuel_Type_Diesel,Fuel_Type_Petrol,Seller_Type_Dealer,Seller_Type_Individual,Transmission_Automatic,Transmission_Manual
0,2014,5.59,27000,0,0,0,1,1,0,0,1
1,2013,9.54,43000,0,0,1,0,1,0,0,1
2,2017,9.85,6900,0,0,0,1,1,0,0,1
3,2011,4.15,5200,0,0,0,1,1,0,0,1
4,2014,6.87,42450,0,0,1,0,1,0,0,1
5,2018,9.83,2071,0,0,1,0,1,0,0,1
6,2015,8.12,18796,0,0,0,1,1,0,0,1
7,2015,8.61,33429,0,0,1,0,1,0,0,1
8,2016,8.89,20273,0,0,1,0,1,0,0,1
9,2015,8.92,42367,0,0,1,0,1,0,0,1
10,2017,3.60,2135,0,0,0,1,1,0,0,1
11,2015,10.38,51000,0,0,1,0,1,0,0,1
12,2015,9.94,15000,0,0,0,1,1,0,1,0
13,2015,7.71,26000,0,0,0,1,1,0,0,1
14,2009,7.21,77427,0,0,0,1,1,0,0,1
15,2016,10.79,43000,0,0,1,0,1,0,0,1
16,2015,10.79,41678,0,0,1,0,1,0,0,1
17,2016,10.79,43000,0,0,1,0,1,0,0,1
18,2015,5.09,35500,0,1,0,0,1,0,0,1
19,2010,7.98,41442,0,0,0,1,1,0,0,1
20,2016,3.95,25000,0,0,0,1,1,0,0,1
21,2017,5.71,2400,0,0,0,1,1,0,0,1
22,2011,8.01,50000,0,0,0,1,1,0,1,0
23,2014,3.46,45280,0,0,0,1,1,0,0,1
24,2013,4.41,56879,0,0,0,1,1,0,0,1
25,2011,4.99,20000,0,0,0,1,1,0,0,1
26,2013,5.87,55138,0,0,0,1,1,0,0,1
27,2017,6.49,16200,0,0,0,1,0,1,0,1
28,2010,3.95,44542,0,0,0,1,1,0,0,1
29,2015,10.38,45000,0,0,1,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
271,2009,10.00,69562,0,0,0,1,1,0,0,1
272,2015,10.00,27600,0,0,0,1,1,0,0,1
273,2010,7.50,61203,0,0,0,1,1,0,0,1
274,2014,6.80,16500,0,0,0,1,1,0,0,1
275,2016,13.60,30753,0,0,0,1,1,0,1,0
276,2015,13.60,24800,0,0,0,1,1,0,0,1
277,2015,13.60,21780,0,0,0,1,1,0,0,1
278,2016,8.40,4000,0,0,0,1,1,0,0,1
279,2014,13.60,40126,0,0,0,1,1,0,0,1
280,2015,5.90,14465,0,0,0,1,1,0,0,1
281,2006,7.60,50456,0,0,0,1,1,0,0,1
282,2014,14.00,63000,0,0,1,0,1,0,0,1
283,2016,11.80,9010,0,0,0,1,1,0,0,1
284,2013,5.90,9800,0,0,0,1,1,0,0,1
285,2016,8.50,15059,0,0,0,1,1,0,1,0
286,2016,7.90,28569,0,0,0,1,1,0,0,1
287,2015,7.50,44000,0,0,0,1,1,0,1,0
288,2015,13.60,34000,0,0,0,1,1,0,0,1
289,2016,13.60,10980,0,0,0,1,1,0,0,1
290,2014,6.40,19000,0,0,0,1,1,0,0,1
291,2015,6.10,31427,0,0,0,1,1,0,0,1
292,2016,8.40,12000,0,0,0,1,1,0,0,1
293,2010,9.90,38000,0,0,0,1,1,0,0,1
294,2014,6.80,33019,0,0,0,1,1,0,0,1
295,2015,13.09,60076,0,0,1,0,1,0,0,1
296,2016,11.60,33988,0,0,1,0,1,0,0,1
297,2015,5.90,60000,0,0,0,1,1,0,0,1
298,2009,11.00,87934,0,0,0,1,1,0,0,1
299,2017,12.50,9000,0,0,1,0,1,0,0,1
300,2016,5.90,5464,0,0,0,1,1,0,0,1

In [14]:
col_names=list(X)
from sklearn.preprocessing import MinMaxScaler
scaler=MinMaxScaler()
x=scaler.fit_transform(X)

C:\Users\SONY\Anaconda3\lib\site-packages\sklearn\preprocessing\data.py:323: DataConversionWarning: Data with input dtype uint8, int64, float64 were all converted to float64 by MinMaxScaler.
  return self.partial_fit(X, y)

In [15]:
X=pd.DataFrame(x)
X.columns= col_names
from sklearn.metrics import r2_score,mean_squared_error,median_absolute_error

In [16]:
#Knn
from sklearn.model_selection import cross_val_score, GridSearchCV
from sklearn.neighbors import KNeighborsRegressor
knn=KNeighborsRegressor(n_neighbors=7)
from sklearn.model_selection import train_test_split as tts
X_train,X_test,y_train,y_test=tts(X,y,test_size=0.2,random_state=42)
knn.fit(X_train,y_train)
y_pred=knn.predict(X_test)
#np.sqrt(mean_squared_error(y_test,y_pred))
r2_score(y_test,y_pred)

0.923936173370526

In [17]:
#Knn using grid search
params = {"n_neighbors":np.arange(1,16)}
knn = KNeighborsRegressor()
knn_cv = GridSearchCV(knn,param_grid=params, cv = 10,scoring="r2")
knn_cv.fit(X_train,y_train)
best_model = knn_cv.best_estimator_
knn_cv.best_score_

0.8329954143727262

In [18]:
#Linear Regression
from sklearn.linear_model import LinearRegression,RidgeCV,LassoCV,ElasticNetCV
lin_reg=LinearRegression()
lin_reg.fit(X_train,y_train)
y_pred= lin_reg.predict(X_test)
np.sqrt(mean_squared_error(y_test,y_pred))
r2_score(y_test,y_pred)

0.8465855825982749

In [19]:
#Lasso
lasso = LassoCV(alphas=np.arange(0.1,2,0.1))
lasso.fit(X_train,y_train)
lasso.score(X_test,y_test)

C:\Users\SONY\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

0.765570292695486

In [20]:
#lasso using grid search
from sklearn.linear_model import Lasso
lasso = Lasso()
params = {"alpha":np.arange(0.1,2,0.1)}
lasso_g_cv =GridSearchCV(lasso, param_grid=params, cv = 10)
lasso_g_cv.fit(X_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Lasso(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=1000,
   normalize=False, positive=False, precompute=False, random_state=None,
   selection='cyclic', tol=0.0001, warm_start=False),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2, 1.3,
       1.4, 1.5, 1.6, 1.7, 1.8, 1.9])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [21]:
lasso_g_cv.best_score_

0.7273494712546099

In [22]:
#Ridge
ridge = RidgeCV(alphas=np.arange(0.1,2,0.1))
ridge.fit(X,y)
ridge.score(X,y)

0.8780037268725631

In [23]:
#Ridge through grid search
from sklearn.linear_model import Ridge
ridge = Ridge()
params = {"alpha":np.arange(0.1,2,0.1)}
ridge_g_cv =GridSearchCV(ridge, param_grid=params, cv = 10)
ridge_g_cv.fit(X_train,y_train)

GridSearchCV(cv=10, error_score='raise-deprecating',
       estimator=Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
   normalize=False, random_state=None, solver='auto', tol=0.001),
       fit_params=None, iid='warn', n_jobs=None,
       param_grid={'alpha': array([0.1, 0.2, 0.3, 0.4, 0.5, 0.6, 0.7, 0.8, 0.9, 1. , 1.1, 1.2, 1.3,
       1.4, 1.5, 1.6, 1.7, 1.8, 1.9])},
       pre_dispatch='2*n_jobs', refit=True, return_train_score='warn',
       scoring=None, verbose=0)

In [24]:
ridge_g_cv.best_score_

0.7964257104897094

In [25]:
#Decision tree
from sklearn.tree import DecisionTreeRegressor
dtr = DecisionTreeRegressor()
dtr.fit(X_train,y_train)
dtr.score(X_test,y_test)

0.944660102541655